<h1>Upload a csv file</h1>
<form action="/file_upload" method="post" enctype="multipart/form-data">
    <input name="text">
    <input type="file" name="data_file">
    <input type="submit" />
</form>